@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.app {
  background: blue;
  padding: 50px;
  height: 100vh;
}

.todo-list {
  background: whitesmoke;
  padding: 5px;
  max-width: 400px;
}

div.todo-list {
  border-top: 10px solid goldenrod;
}

h1 {
  font-size: 30px;
  font-family: "Indie Flower", cursive;
}
